<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Package Management System</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Package Management System</h1>

        <div>
            <h2>Available Package Sizes</h2>
            <button id="getPacks" class="button-color">Get Available Packs</button>
            <pre id="packsOutput"></pre>
        </div>
        <hr>
        <div>
            <h2>Pack Items</h2>
            <input type="number" id="packItemsInput" placeholder="Number of items">
            <button id="packItems" class="button-color">Pack Items</button>
            <pre id="packItemsOutput"></pre>
        </div>
        <hr>
        <div>
            <h2>Add Package Size</h2>
            <input type="number" id="addPackInput" placeholder="Number of items">
            <button id="addPack" class="button-color">Add Pack</button>
        </div>
        <hr>
        <div>
            <h2>Delete Package Size</h2>
            <input type="number" id="deletePackInput" placeholder="Number of items">
            <button id="deletePack" class="button-color">Delete Pack</button>
        </div>

         <script src="/static/script.js"></script>
    </body>
</html>
